$primary: #041014;
$secondary: #30a4de;
$primary-text: #ffffff;
$secondary-text: #000000;

* {
  margin: auto;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: $primary;
  color: $primary-text;
}

#quote-box {
  height: 400px;
  width: 600px;
  background-color: $secondary;
  color: $secondary-text;
  border-radius: 20px;
  box-shadow: 20px 20px 0 5px rgba($color: #000000, $alpha: 0.75);

  @media only screen and (max-width: 600px) {
    width: 100%;
  }

  #text {
    width: 100%;
  }
  #author {
    text-align: end;
    padding-right: 40px;
  }

  .button {
    background-color: $primary;
    color: $primary-text;
    width: 150px;
  }
}
